.project-card{
    width: 294px;
    height:175px;
    margin:10px   
}
.cards{
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
}
.ant-card-meta{
    justify-content: center;
    text-align: center;
}
