.content {
  width: 100%;
}

body {
  margin: 0px;
}

.row-2, .row-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.row-2 > .ant-card,
.row-4 > .ant-card
 {
  width: 50%;
}

.icon-projPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding: 16px;
}

.price-projCard,
.claim-projCard,
.delete-projCard {
  margin: 16px;
  width: 100%;
}