.container {
    display: flex;
    align-items: center;    
}

.navigation {
    margin-left: auto;
    margin-right: 2%;
    align-items: stretch;
}

.logo-img {
    width: 128px;
    margin-left: 2%;
    margin-top: 8px;
}