.project-card{
    width: 100%;
    height:175px;
    margin:10px;
       
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.ant-card-meta{
    justify-content: center;
    text-align: center;
}
.price{
   text-align: center;
   margin-top: 20px;
}

